<div class="uk-margin" data-uk-margin>
  <button class="uk-button uk-button-default">Default</button>
  <button class="uk-button uk-button-primary">Primary</button>
  <button class="uk-button uk-button-secondary">Secondary</button>
  <button class="uk-button uk-button-danger">Danger</button>
  <button class="uk-button uk-button-text">Text</button>
  <button class="uk-button uk-button-link">Link</button>
  <button class="uk-button uk-button-default" disabled>Disabled</button>
</div>

<div class="uk-margin" data-uk-margin>
  <button class="uk-button uk-button-default uk-button-small">Small</button>
  <button class="uk-button uk-button-primary">Default size</button>
  <button class="uk-button uk-button-secondary uk-button-large">Large</button>
  <button class="uk-icon-button" data-uk-icon="icon: plus" aria-label="Neu"></button>
  <button class="uk-icon-button" data-uk-icon="icon: cog" aria-label="Einstellungen"></button>
</div>

<div class="uk-button-group">
  <button class="uk-button uk-button-default">Zeit</button>
  <button class="uk-button uk-button-default">Fix</button>
  <button class="uk-button uk-button-default">Menge</button>
  <button class="uk-button uk-button-default">Auslage</button>
</div>
