<form class="uk-form-stacked">
  <div class="uk-grid-small uk-child-width-1-2@m" data-uk-grid>
    <div><label class="uk-form-label" for="sg-customer">Kunde</label><input id="sg-customer" class="uk-input" value="Atelier Morgen"></div>
    <div><label class="uk-form-label" for="sg-project">Projekt</label><select id="sg-project" class="uk-select"><option>Website Relaunch</option><option>Brand Refresh</option></select></div>
  </div>
  <div class="uk-margin"><label class="uk-form-label" for="sg-description">Beschreibung</label><textarea id="sg-description" class="uk-textarea" rows="3">Frontend-Umsetzung</textarea></div>
  <label><input class="uk-checkbox" type="checkbox" checked> Verrechenbar</label>
</form>
