<div class="uk-flex uk-flex-middle uk-flex-wrap uk-grid-small" data-uk-grid>
  <div>
    <button class="uk-icon-button" type="button" data-uk-icon="pencil" data-uk-tooltip="title: Bearbeiten" aria-label="Bearbeiten"></button>
  </div>
  <div>
    <button class="uk-icon-button" type="button" data-uk-icon="plus" data-uk-tooltip="title: Hinzufügen" aria-label="Hinzufügen"></button>
  </div>
  <div>
    <span data-uk-icon="clock" data-uk-tooltip="title: Zeiterfassung" aria-label="Zeiterfassung"></span>
  </div>
  <div>
    <button type="button" data-uk-close data-uk-tooltip="title: Schließen" aria-label="Schließen"></button>
  </div>
</div>
