<ul class="uk-subnav uk-subnav-pill">
  <li class="uk-active"><a href="#">Arbeit</a></li>
  <li><a href="#">Angebote</a></li>
  <li><a href="#">Rechnungen</a></li>
  <li><a href="#">Zahlungen</a></li>
</ul>

<ul class="uk-breadcrumb">
  <li><a href="#">Atelier Morgen</a></li>
  <li><a href="#">Website Relaunch</a></li>
  <li><span>Arbeit</span></li>
</ul>

<ul class="uk-pagination">
  <li><a href="#"><span data-uk-pagination-previous></span></a></li>
  <li><a href="#">1</a></li>
  <li class="uk-active"><span>2</span></li>
  <li><a href="#">3</a></li>
  <li><a href="#"><span data-uk-pagination-next></span></a></li>
</ul>
