<button class="uk-button uk-button-default" type="button" data-uk-toggle="target: #styleguide-offcanvas-demo">
  Offcanvas öffnen
</button>

<div id="styleguide-offcanvas-demo" data-uk-offcanvas="overlay: true; mode: slide">
  <div class="uk-offcanvas-bar">
    <button class="uk-offcanvas-close" type="button" data-uk-close aria-label="Schließen"></button>
    <h3>Kundenansicht</h3>
    <ul class="uk-nav uk-nav-default">
      <li class="uk-nav-header">Aktiv</li>
      <li class="uk-active"><a href="#">Atelier Morgen</a></li>
      <li><a href="#">Nordlicht Studio</a></li>
      <li class="uk-nav-divider"></li>
      <li><a href="#">Neuer Kunde</a></li>
    </ul>
  </div>
</div>
