<ul class="uk-tab" data-uk-tab="connect: #styleguide-component-tabs-demo">
  <li class="uk-active"><a href="#">Arbeit</a></li>
  <li><a href="#">Angebote</a></li>
  <li><a href="#">Rechnungen</a></li>
</ul>

<ul id="styleguide-component-tabs-demo" class="uk-switcher uk-margin">
  <li><p class="uk-margin-remove">Unverrechnete Arbeit und laufende Positionen.</p></li>
  <li><p class="uk-margin-remove">Angebote im aktuellen Projektkontext.</p></li>
  <li><p class="uk-margin-remove">Ausgestellte Rechnungen und Zahlungsstatus.</p></li>
</ul>
